{
  "extends": "loopback",
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "operator-linebreak": [
      "error",
      "after"
    ],
    "padded-blocks": "off",
    "no-var": "error",
    "semi": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      "always"
    ]
  }
}
